.create-test-card {
  width: 640px;
  max-width: 100%;
  padding: 24px;
  margin-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  background: #ffffff;
  border: 1px solid #eae9e8;
  border-radius: 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}
.create-test-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.ct-field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ct-field label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #37352f;
}

.create-test-card .error-btn {
  width: 100%;
  height: 36px;
}

@media (max-width: 768px) {
  .create-test-card {
    width: 100%;
    padding: 20px;
  }
}
